1. Buatlah program untuk menghitung pangkat 2 dari angka 1 hingga 50!

In [2]:
# Kerjakan nomor 1 di sini
for i in range(1,51):
    print(f"{i} kuadrat = {i**2}")

1 kuadrat = 1
2 kuadrat = 4
3 kuadrat = 9
4 kuadrat = 16
5 kuadrat = 25
6 kuadrat = 36
7 kuadrat = 49
8 kuadrat = 64
9 kuadrat = 81
10 kuadrat = 100
11 kuadrat = 121
12 kuadrat = 144
13 kuadrat = 169
14 kuadrat = 196
15 kuadrat = 225
16 kuadrat = 256
17 kuadrat = 289
18 kuadrat = 324
19 kuadrat = 361
20 kuadrat = 400
21 kuadrat = 441
22 kuadrat = 484
23 kuadrat = 529
24 kuadrat = 576
25 kuadrat = 625
26 kuadrat = 676
27 kuadrat = 729
28 kuadrat = 784
29 kuadrat = 841
30 kuadrat = 900
31 kuadrat = 961
32 kuadrat = 1024
33 kuadrat = 1089
34 kuadrat = 1156
35 kuadrat = 1225
36 kuadrat = 1296
37 kuadrat = 1369
38 kuadrat = 1444
39 kuadrat = 1521
40 kuadrat = 1600
41 kuadrat = 1681
42 kuadrat = 1764
43 kuadrat = 1849
44 kuadrat = 1936
45 kuadrat = 2025
46 kuadrat = 2116
47 kuadrat = 2209
48 kuadrat = 2304
49 kuadrat = 2401
50 kuadrat = 2500

2. Buatlah sebuah list yang berisi daftar nama mahasiswa angkatan kalian minimal sejumlah 10 nama. Kemudian buat program pencarian menggunakan pengulangan, di mana apabila nama yang user inputkan sudah sesuai dengan isi list maka program akan berhenti dan menampilkan output "Pencarian anda sudah berakhir"

catatan: perhatikan user dapat menginputkan menggunakan baik huruf kapital maupun tidak

In [15]:
# Kerjakan nomor 2 di sini
Nama = ["Meliana", "Meli", "Eli", "Ana", "Dela", "Shofiani", "Shofi", "Ani", "Sho", "Fiani", "Mel", "Li"]
Pencarian = str(input("Masukkan nama yang dicari : "))
for i in Nama:
    print(i)
    if i == Pencarian.capitalize():
        print("Pencarian anda sudah berakhir")
        break

Meliana
Meli
Eli
Ana
Dela
Shofiani
Pencarian anda sudah berakhir

3. Disajikan list sebagai berikut

In [ ]:
bulan = ['januari', 'februari', 'maret', 'april','mei','juni','juli','agustus','september','oktober','november','desember']
kota = ['jakarta' , 'kuala lumpur', 'bangkok', 'seoul', 'canada','london','dubai','barcelona']

Robert adalah seorang penyanyi terkenal. Dia merencanakan konser world tour di tahun 2024 mendatang di berbagai negara. Dengan catatan pada bulan April dan Mei, Robert kembali ke indonesia untuk istirahat sejenak kemudian melanjutkan lagi konser. Berdasarkan kasus tersebut buatlah program pengulangannya!

In [57]:
# kerjakan nomor 3 di sini
bulan = ['januari', 'februari', 'maret', 'april','mei','juni','juli','agustus','september','oktober','november','desember']
kota = ['jakarta' , 'kuala lumpur', 'bangkok', 'seoul', 'canada','london','dubai','barcelona']
j = 0
for i in bulan:
    if i in ["april", "mei"] :
        print(f"Bulan {i} Robert tidak ada world tour")
        continue
    else:
        print(f"Bulan {i} Robert world tour ke {kota[j]}")
        j+=1
        if j == 8:
            print("World tour Robert 2024 selesai")
            break

Bulan januari Robert world tour ke jakarta
Bulan februari Robert world tour ke kuala lumpur
Bulan maret Robert world tour ke bangkok
Bulan april Robert tidak ada world tour
Bulan mei Robert tidak ada world tour
Bulan juni Robert world tour ke seoul
Bulan juli Robert world tour ke canada
Bulan agustus Robert world tour ke london
Bulan september Robert world tour ke dubai
Bulan oktober Robert world tour ke barcelona
World tour Robert 2024 selesai